%ul.tabs(data-tabs="tabs")
  %li.active
    = link_to "Home", dashboard_path
  %li
    = link_to "Profile", profile_path
  %li
    = link_to "Messages", [:messages]
  %li
    = link_to "Notification Center", "#"

