= link_to "10", "javascript:void(0)", :class => "btn small",
          :data => { :per_page => true, :default_per_page => @default_per_page,
          :link_class => "btn small primary" }
= link_to "25", "javascript:void(0)", :class => "btn small",
          :data => { :per_page => true, :default_per_page => @default_per_page,
          :link_class => "btn small primary" }
= link_to "50", "javascript:void(0)", :class => "btn small",
          :data => { :per_page => true, :default_per_page => @default_per_page,
          :link_class => "btn small primary" }
