/ repository

- if logged_in?
  - if owner?(repository)
    = link_to t(:back_to, :scope => [:web, :page, :repository]),
                user_repository_path(current_user.username, repository.name),
                :class => "btn small primary"

