/ repository

= link_to repository.watchers_count,
          user_repository_watchers_path(repository.username, repository.name),
          :class => "btn large",
          :rel => "twipsy",
          :data => {:original_title => t(:watchers, :scope => [:web, :page, :repository]),
                    :placement => :below,
                    "repository_watchers_count_#{repository.id}" => true}

= link_to repository.forks_count,
          user_repository_watchers_path(repository.username, repository.name),
          :class => "btn large",
          :rel => "twipsy",
          :data => {:original_title => t(:forks, :scope => [:web, :page, :repository]),
                    :placement => :below,
                    "repository_forks_count_#{repository.id}" => true}

