
- if repository.forked_by_user?(current_user)
  = link_to t(".forked"),
            user_repository_path(current_user.username, repository.forked_by_user(current_user).name),
            :class => "btn small",
            :rel => "twipsy",
            :data => {:original_title => t(".forked_info"),
                      :placement => :below}
- else
  = link_to t(".fork"),
            user_repository_fork_path(repository.username, repository.name),
            :method => :put,
            :class => "btn small primary"
