= link_to (current_user.watching_repository?(repository) ? t(".unwatch") : t(".watch")),
              user_repository_reverse_watch_path(repository.username, repository.name),
              :method => :put,
              :remote => true,
              :data => { "repository_reverse_watch_#{repository.id}" => true,
                          :buttons => true,
                          :loading_text => t(:requesting),
                          :timeout_text => t(:request_timeout),
                          :server_error_text => t(:request_server_error),
                          :alerts_containers_div => "alerts",
                          :watch_complete_text => t(".unwatch"),
                          :unwatch_complete_text => t(".watch")},
              :class => "btn small primary"


