/ repository

- if logged_in?
  - unless owner?(repository)
    - if current_user.watching_repository?(repository)
      - @text = t(:unwatch, :scope => [:web, :page, :repository])
      - @complete_text = t(:watch, :scope => [:web, :page, :repository])
    - else
      - @text = t(:watch, :scope => [:web, :page, :repository])
      - @complete_text = t(:unwatch, :scope => [:web, :page, :repository])

    = link_to @text,
              user_repository_reverse_watch_path(repository.username, repository.name),
              :method => :put,
              :remote => true,
              :data => { "repository_reverse_watch_#{repository.id}" => true,
                          :buttons => true,
                          :loading_text => t(:loading, :event => t(:request, :scope => [:event])),
                          :complete_text => @complete_text,
                          :timeout_text => t(:time_out, :event => "")},
              :class => "btn small primary"

- else
  = render "partials/modals/sign_in", :text => t(:watch, :scope => [:web, :page, :repository])

