.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
config/database.yml
config/smtp_settings.yml
config/resque.yml

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

Gemfile.lock
