.row
  .span10
    %h5= @category.name
  .span2.right
    = link_to t(:more), repositories_path(:category => @category.name)
.page-header

.row
  - @repositories.each do |repository|
    .span2
      %h4= link_to repository.name, user_repository_path(repository.username, repository.name)