
= render "tabs_collection", :collection_name => collection_name, :resource_name => resource_name

= render "entries", :collection => collection, :q => @q

.row
  %p.pull-right
    = render_cell :resources, :per_page_display
    
= render 'partials/pagination', :resources => collection
