= render "head", :repository => @repository

%section
  .page-header
    = @repository.describtion
  
  = render "paths_link", :paths => @paths, :repository => @repository

  %br

  %pre
    = @blob.data.force_encoding(Encoding::UTF_8)

