
= render "users/head", :user => @user

%section
  .page-header
    %h3= t(".public_repositories", :username => @user.username)
  .row
    .span16
      = render @public_repositories

      = render 'partials/pagination', :resources => @public_repositories

