= render "head", :repository => @repository

.row
  .span14.offset1
    .page-header
      = @repository.describtion
    .page-header
      = @repository.git_repo.commits.first.tree.contents.each do |content|
        = content.name

