= render "head", :repository => @repository

.row
  .span12.offset1
    .page-header
      = @repository.describtion
    .page-header
      - r = Grit::Repo.new @repository.git_repo_path
      = r.tree.contents
      /= binding.pry
  .span1
    = render "partials/repository_manage", :repository => @repository

