= render "head", :repository => @repository

.row
  .span14.offset1
    .page-header
      = @repository.describtion
    .page-header
      - @contents.each do |content|
        - if content.is_a?(Grit::Blob)
          = link_to content.name, blob_user_repository_path(@user.username, @repository.name, content.name)
        - elsif content.is_a?(Grit::Tree)
          = link_to content.name, tree_user_repository_path(@user.username, @repository.name, content.name)
        .row

