= render "head", :repository => @repository

%section
  .page-header
    %h3= t(".watchers", :repository_name => [@user.username, @repository.name].join("/"))
  .row
    .span16
      = render :partial => 'users/user_by_follow', :collection => @watchers, :as => :user
      = render 'partials/pagination', :resources => @watchers