= render "head", :repository => @repository

= render "partials/followers", :followers => @watchers,
          :title => t(".watchers", :repository_name => [@user.username, @repository.name].join("/"))