%section
  .page-header
    %h3
      = t(".users")
  %section
    .row
      - @users.each do |user|
        - next if user.blank?
        %section
          .row
            .gravatar
              = link_to (image_tag user.gravatar_url(:size => 48)), user_page_path(user)
            .title
          .row
            .details