

= link_to t("manage_repo_files", :scope => [:web, :page, :account, :repository]),
            [:new, :account, @repository, :repo_file]

= link_to t("edit_options", :scope => [:web, :page, :account, :repository]),
            [:edit, :account, @repository]

