$(document).ready(function () {
  $("[data-autocomplete-user]").autocomplete(
    "<%= Rails.application.routes.url_helpers.autocomplete_with_username_users_path %>",
    {
      minChars: 1,
      //width: 280,
      max: 10,
      matchContains: true,
      highlightItem: false,
      dataType: 'json',
      parse: function(data) {
        var parsed = [];
        for (var i = 0; i < data.length; i++) {
          parsed[parsed.length] = {
            data: data[i],
            value: data[i].username,
            result: data[i].username
          }
        }
        return parsed;
      },
      formatItem: function(item) {
        return "<img src=" + item.gravatar_url + " />" + "<span>" + item.username + "</span>";
      }
    }
  )
})