%section
  .page-header
    %h3= title
  .row
    .span16
      - followers.each do |follower|
        .page-header
          .row
            .span16
              %p.pull-right
                = user_reverse_follow_link(follower)
              %p
                = render "partials/user/gravatar", :user => follower

      = render 'partials/pagination', :resources => followers