/ repository

- if logged_in?
  - unless repository.username == current_user.username
    - if current_user.watching_repository?(repository)
      - @title = t("web.page.unwatch_repository")
    - else
      - @title = t("web.page.watch_repository")

    = link_to @title,
              user_repository_reverse_watch_path(repository.username, repository.name),
              :method => :put,
              :remote => true,
              "data-repository-reverse-watch-#{repository.id}" => true

- else
  = link_to t("web.page.watch_repository"),
            user_repository_reverse_watch_path(repository.username, repository.name),
            :method => :put,
            :remote => true

