/ user
- if logged_in?
  - unless user == current_user
    - if current_user.following_user?(user)
      - @title = t("web.page.unfollow_user")
    - else
      - @title = t("web.page.follow_user")

    = link_to @title,
              user_reverse_follow_path(user.username),
              :method => :put,
              :remote => true,
              "data-user-reverse-follow-#{user.id}" => true

