%footer.footer
  .container
    = render "shared/languages_choice"
    %section
      .row
        .span16
          %p.pull-right
            %a{:href => "#"} Back to top
          %p
            = link_to t(".feedbacks"), [:feedbacks]
            |
            = link_to t(".about"), page_path("about")
            |
            = link_to t(".contact_us"), page_path("contact_us")
            |
            ©2012 DocShare
