%footer.footer
  .container
    = render "shared/languages_choice"
    %section
      .row
        .span16
          %p.pull-right
            %a{:href => "#"} Back to top
          %p
            = link_to t(".feedbacks"), [:feedbacks]
            |
            copyright
