/ Le HTML5 shim, for IE6-8 support of HTML elements
/[if lt IE 9]
  %script{:src => "//html5shim.googlecode.com/svn/trunk/html5.js"}
/ Le javascript
/%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
/%script{:src => "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"}
= javascript_include_tag "application"
:javascript
  // Instantiate the object
  var RailsSettings = RailsSettings || {};
  // Set default development to false
  RailsSettings.development = false;

  $(document).ready(function() {
    RailsSettings.development = #{ Rails.env.development? ? true : false };
  });

= yield :javascript

