%section
  .row
    %p.pull-right
      = link_to 'Chinese (Simplified)', :controller => controller_name,:action => action_name, :locale => "zh-CN"
      |
      = link_to 'English', :controller => controller_name,:action => action_name, :locale => "en"

