.page-header
  %br
  %br

.row
  %ul.pills
    %li{:class => @sec_nav == :new ? :active : nil}
      %h4
        = link_to "new_message", [:new, :account, :message]
    .row

    %li{:class => @sec_nav == :sent ? :active : nil}
      %h4
        = link_to "sent_messages", [:sent, :account, :messages]
    .row

    %li{:class => @sec_nav == :received ? :active : nil}
      %h4
        = link_to "received_messages", [:account, :messages]
    .row

    %li{:class => @sec_nav == :notifications ? :active : nil}
      %h4
        = link_to "notifications", [:notifications, :account, :messages]
    .row

