.page-header
  %br
  %br

.row
  %ul.pills
    %li{:class => @sec_nav == :show_profile ? :active : nil}
      %h4
        = link_to "profile", edit_profile_path
    .row

    %li{:class => @sec_nav == :edit_profile ? :active : nil}
      %h4
        = link_to "edit_profile", edit_profile_path


