
%span
  = t(".following",
          :following_users_count => user.following_users_count,
          :watching_repositories_count => user.watching_repositories_count)
%span
  = link_to t("view_all"), user_following_path(user.username)

