= link_to (current_user.following_user?(user) ? t(".unfollow") : t(".follow")),
                  user_reverse_follow_path(user.username),
                  :method => :put,
                  :remote => true,
                  :data => { "user_reverse_follow_#{user.id}" => true,
                              :buttons => true,
                              :loading_text => t(:requesting),
                              :timeout_text => t(:request_timeout),
                              :server_error_text => t(:request_server_error),
                              :alerts_containers_div => "alerts",
                              :follow_complete_text => t(".unfollow"),
                              :unfollow_complete_text => t(".follow")},
                  :class => "btn small primary"