
common: &common
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password: postgres

#common: &common
#  adapter: sqlite3
#  pool: 5
#  timeout: 5000

development:
  <<: *common
  database: doc_share_development

test:
  <<: *common
  database: doc_share_test

production:
  <<: *common
  database: doc_share_production

