%section
  .row
    .span4.center
      %h1
        = link_to t(".new"), [:new, :feedback], :class => "btn primary"
        
    .span12
      - if @feedbacks.present?
        = render @feedbacks
      - else
        = collection_empty(:feedbacks)

      = render 'partials/pagination', :resources => @feedbacks
    