%section
  .row
    .span8
      - if @activities.present?
        = render :partial => "activities/activity", :collection => @activities, :as => :activity
      - else
        = collection_empty(:activities)

= render 'partials/pagination', :resources => @activities