%ul.tabs(data-tabs="tabs")
  %li{:class => @main_nav == :dashboard ? :active : nil}
    = link_to "Dashboard", dashboard_path
  %li{:class => @main_nav == :users ? :active : nil}
    = link_to "User", admin_users_path

