.page-header
  %h2
    = @message.topic

.row
  .page-header
    .row
      %p.pull-right
        = link_to t(:delete), [:account, @message], :method => :delete, :confirm => t(:delete_confirm)
    .row
      .offset1
        %p
          = @message.body

        .page-header
          = render "form_reply", :message => @message, :new_message => @new_message

