%h2 Forgot your password?
= simple_form_for(@user, :url => reset_passwords_path, :html => { :method => :post }) do |f|
  = f.error_notification
  .inputs
    = f.input :email, :required => true
  .actions
    = f.button :submit, "Send me reset password instructions"

